<h1>Here's your file</h1>
<% @inp_file.class.reflect_on_all_associations.each do |r| %>
  <%= render partial: "association", locals: { association: @inp_file.public_send(r.name), label: r.name } %>
<% end %>