<li>
  <details>
    <summary>
      <%= object.name %>
    </summary>
    <ul>
      <% object.attributes.except("id", "upload_id", "created_at", "updated_at", "name").each do |k, v| %>
        <% if v and v.strip != "" %>
          <li>
            <b><%= k %></b>: <%= v %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </details>
</li>